body{
    background-color:black;
    color:white;
}

.nav-link {
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

.section2{
    background-color: lightgrey;
    padding: 25px;
    color: black;
    text-align: center;
}

h2{
    font-size: 72px;
}

#grid{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    margin: 100px;
    text-align: center;
    gap: 2;
  }

/*
  #grid{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
  }
*/
  @media screen and (max-width: 767px){
    #grid{
        grid-template-columns:repeat(1, 20%);
    }
  }