body{
    background-color:black;
    color:white;
}

.nav-link {
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

.section2{
    background-color: lightgrey;
    padding: 25px;
    color: black;
    text-align: center;
}

h2{
    margin-top: 30px;
    font-size: 72px;
}

#grid{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    margin: 100px;
    text-align: center;
    gap: 2;
  }

.catalogo{
    margin-left: 75%;
}

.catalogo button{
    color: white;
    margin-bottom: 30px;
    background-color: maroon;
    border-style: none;
    padding: 20px;
}

footer{
    color: gray;
}

footer a{
    color: gray;
    font-size: 12px;
}

  @media screen and (max-width: 767px){
    .section2{
        background-color: lightgrey;
        padding: 25px;
        color: black;
        text-align: center;
    }
    
    h2{
        font-size: 40px;
    }
    #grid{
        display: grid;
        grid-template-columns: repeat(1, 110%);
        gap: 2;
    }
    h3{
        margin-bottom: 50px;
    }
    .catalogo{
        margin-left: 60%;
    }
  }